
@{
    ViewData["Title"] = "Confirm Your Email";
}


    <section class="section mt-5">
        <div class="content">
            <div class="container">
                <div class="alert alert-info" role="alert">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="now-ui-icons travel_info"></i>
                        </div>
                        <strong>Heads Up</strong> Thank You Form Confirming your email. Please click here To <a asp-action="Login" asp-controller="Account">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </section>