@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="page-header clear-filter">
    <div class="page-header-image"></div>
    <div class="content">
        <div class="container">
            <div class="col-md-4 col-lg-4 ml-auto mr-auto">
                <div class="card card-signup" data-background-color="orange">
                    <form asp-action="ForgotPassword" asp-controller="Account">
                        <div class="card-header text-center">
                            <h2 class="card-title title-signup">@ViewData["Title"]</h2>
                            <p class="card-category">Enter The Email Associated with this account</p>
                        </div>
                        <div class="card-body">
                            <div class="input-group no-border input-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="now-ui-icons ui-1_email-85" style="color:ghostwhite !important;"></i>
                                    </span>
                                </div>
                                <input asp-for="Email" placeholder="Enter Email..." class="form-control" />
                            </div>
                            <span asp-validation-for="Email" class="text-white"></span>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-neutral btn-round btn-lg btn-block">Send Email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>