
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

    <section class="section mt-5">
        <div class="content">
            <div class="container">
                <div class="alert alert-success" role="alert">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="now-ui-icons ui-2_like"></i>
                        </div>
                        <strong>Success!</strong> Your Password Has Been Successfully Reset
                        <button class="close" aria-label="Close" type="button" data-dismiss="alert">
                            <span aria-hidden="true">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

