
@{
    ViewData["Title"] = "Unconfirmed User Account";
}



<div class="content mt-4">
    <div class="row mt-5">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="alert alert-danger alert-with-icon" data-notify="container">
                <span data-notify="icon" class="now-ui-icons objects_support-17"></span>
                <span data-notify="message">You have not Confirmed Your Email<br />Please Check Your Email and Confirm Your Email Address..</span>
            </div>
        </div>
    </div>
</div>