
@{
    ViewData["Title"] = "Error";
}

<div class="wrapper">
    <div class="page-header page-header-mini">
        <div class="page-header-image" data-parallax="true">
        </div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h1 class="title">OOPS!</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content-center">
        <div class="container">
            <div class="row justify-content-center mt-5 mb-3">
                <h3 class="text-center">Something Wen't Wrong... We'll Take care of it Soon.. The Error Has been Noted</h3>
                <br />
            </div>
            <div class="row justify-content-center mb-5">
                <a class="btn btn-primary btn-lg btn-round text-center" asp-action="Index" asp-controller="Home">Go Back</a>
            </div>
        </div>
    </div>
</div>