
    <ul class="nav">
        <li is-active-route asp-controller="Admin">
            <a asp-action="Index" asp-controller="Admin">
                <i class="now-ui-icons design_app"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li is-active-route asp-controller="UserManagement">
            <a asp-action="Index" asp-controller="UserManagement">
                <i class="now-ui-icons users_single-02"></i>
                <p>User Profiles</p>
            </a>
        </li>
        <li is-active-route asp-controller="Posts">
            <a asp-action="Index" asp-controller="Posts">
                <i class="now-ui-icons education_atom"></i>
                <p>Blog Posts</p>
            </a>
        </li>
        <li is-active-route asp-controller="Photos">
            <a asp-action="Index" asp-controller="Photos">
                <i class="now-ui-icons design_image"></i>
                <p>Image Galllery</p>
            </a>
        </li>
        <li is-active-route asp-controller="Categories">
            <a asp-action="Index" asp-controller="Categories">
                <i class="now-ui-icons design_bullet-list-67"></i>
                <p>Blog Categories</p>
            </a>
        </li>
    </ul>
