@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Your Password";
    Layout = "_Layout";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}


<div class="col-lg-6 col-md-6 ml-auto mr-auto mt-4">
    <form class="form" asp-action="ChangePassword" asp-controller="Manage">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                </div>
            </div>
            <input asp-for="OldPassword" class="form-control" placeholder="Enter The Old Password..." />
        </div>
        <span asp-validation-for="OldPassword" class="text-danger"></span>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                </div>
            </div>
            <input asp-for="NewPassword" class="form-control" placeholder="Enter The New Password..." />
        </div>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                </div>
            </div>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Your Password..." />
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-block btn-lg btn-primary btn-round">Change Password</button>
        </div>
    </form>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
