@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Your Password";
    Layout = "_Layout";
}


<div class="col-lg-6 col-md-6 ml-auto mr-auto mt-4">
    <form class="form" asp-action="SetPassword" asp-controller="Manage">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="now-ui-icons objects_key-25"></i>
                </div>
            </div>
            <input asp-for="NewPassword" class="form-control" placeholder="Enter New Password..." />
        </div>
        <span asp-validation-for="NewPassword" class="text-danger"></span>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="now-ui-icons objects_key-25"></i>
                </div>
            </div>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password..." />
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-block btn-lg btn-primary btn-round">Set Password</button>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
