@model UsersViewComponentViewModel
@{
    Layout = null;
}


<div class="statistics">
    <div class="info">
        <div class="icon icon-primary">
            <i class="now-ui-icons users_single-02"></i>
        </div>
        <h3 class="info-title">@Model.UserCount</h3>
        @if (Model.UserCount == 1)
        {
            <h6 class="stats-title">User</h6>
        }
        else
        {
            <h6 class="stats-title">Users</h6>
        }
    </div>
</div>